.nav-link {
    font-weight: 600;
}

@media(max-width: 768px) {
    .img-responsive {
        width: 100%!important;
    }
}

@media(max-width: 768px) {
    .order-1 {
        order: 1;
    }
}

@media(max-width: 768px) {
    .order-2 {
        order: 2;
    }
}


